################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Adrian/v17
/.vs/MortalKombat/FileContentIndex
